.suggestion-item {
  padding: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
}
.suggestion-item:hover {
  background-color: rgb(199, 199, 199);
}
.suggestion-item:focus {
  background-color: rgb(199, 199, 199);
}

.suggestion-img {
  display: block;
  margin-left: 0px;
  margin-top: 4px;
  padding: 0px;
  width: 20%;
}