.wrapper {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  justify-content: center;

  max-width: 1224px;
  padding: 30px 20px;
  font: 16px/14px 'Nunito', sans-serif;
  text-align: center;
  font-size: 30px;
}

.lupa {
  justify-self: center;
  align-self: center;
  width: 30%;
  max-width: 300px;
  min-width: 100px;
}