.form {
  display: flex;
  flex-direction: column;
}

.form input {
  height: 40px;
  font-size: 25px;
  text-align: center;
}
.form button {
  font-size: 25px;
  height: 40px;
}

.result {
  font-size: 150%;
}